{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.3"}
        org.clojure/core.memoize {:mvn/version "1.1.266"}
        potemkin/potemkin {:mvn/version "0.4.7"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/com.cognitect/test-runner"
                 :git/sha "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :build
  ;; build.clj tool.
  {:deps {io.github.clojure/tools.build {:git/tag "v0.10.3" :git/sha "15ead66"}
          slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}}}
